.cards {
  list-style: none;
  &__single:nth-child(4n+1) {
    margin-left: 0;
  }
  &__single-image {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &:after { // responsive square hack
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    &:hover {
      .cards__single-details {
        bottom: 0;
      }
    }
  }
  &__single-details {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;
    transition: all 0.4s ease;
    .productName {
      font-size: 20px;
      font-weight: 800;
      line-height: 10px;
    }
    .sellerName {
      font-size: 16px;
      font-weight: 600;
      line-height: 10px;
    }
    .priceInfo {
      font-size: 16px;
      font-weight: 600;
      line-height: 10px;
    }
    a {
      font-size: 10px;
      text-decoration: none;
    }
  }
}
