@import'base/base';

header {
  nav {
    border-top: 5px solid $brand-color;
    background-color: white;
    border-bottom: 5px solid #FFFFFF;
    height: 45px;
    padding: 0 20px;
    .container {
      li {
        text-decoration: none;
        line-height: 50px;
        font-size: 18px;
        display: inline-block;
        float: right;
        margin-left: 10px;
        color: #000000;
        a {
          text-decoration: none;
          color: #000000;
          transition: all 0.2s ease;
          &:hover {
            opacity: 0.5;
          }
        }
        &.logo {
          font-size: 22px;
          float: left;
          font-family: 'Permanent Marker', cursive;
          font-weight: 800;
          font-size: 30px;
        }
      }
    }
  }
}
