<div class="background-image" style="background-image:url('/assets/images/foodStockImage.jpg')">
  <div class="background-image-overlay">
    <h1>Seasonal Foods from Farmers to You<br>
    Win <span id="emoji-font">👐</span> Win</h1>
    <a href="/#/#about"><img class="chevronImg" src="../assets/images/chevron.png" width="60px"></a>
  </div>
</div>
<section class="container about">
  <div class="row">
    <div class="twelve columns">
      <h3>Here's how it works 🤔 </h3>
      <p>A farm and its farmers are a pretty special thing 🌻. We're lucky to be surrounded by farmers and craftsmen who've dedicated their lives at creating and perfecting delicious and unique produce.<br><br>
      Farms and farmers markets embody a lot of the good that lead to strong communities. That's why we built a platform that equally balances the needs of craftsmen, artisans, farmers and shoppers to help enjoy and share amazing produce we'd otherwie not have access to 👍<br><br>
      Farm Savour is based on a <strong>flash sale</strong>, and <strong>communal-buying</strong> model where shoppers can collectively support providers by ordering produce for a predefined period of time. During this time, the more people buy, the lower the price will be once the sale ends, <i>for everyone</i>. <br><br>
      This way, <strong>we all win</strong>. Farmers are able to share and sell more of their produce and help cover their high fixed costs, and shoppers are able to enjoy amazing products at competitive prices that beat those of Waitrose and Whole Foods 💪<br><br>

      Farm Savour is built on curated, hand-picked produce so that way you can <i>save</i> farms and <i>savour</i> every bite 🚜 </p>
    </div>
  </div>
</section>
