<!-- BUYER SECTION -->
<section>
  <h1>Here are your orders...</h1>
  <ul>
    <li ng-repeat="order in ordersIndex.all">
        <h3>Product: {{ order.product.name }}</h3>
        <img ng-src="{{ order.product.image }}", width="250"/>
        <h4>Ordered Quantity: {{ order.quantity }}</h4>
        <h4>Seller: {{ order.product.seller.username }}</h4>
        <button ng-click="ordersIndex.toggleEditForm(order)">Edit</button>
        <button ng-click="ordersIndex.delete(order)">Delete</button>

      <!-- HIDDEN/SHOWN BUYER EDIT FORM -->
      <div ng-show="order.showEditFormValue">
        <h4>Edit your order below...</h4>
        <div>Total Available Cheese: {{order.product.quantity}}</div>
        <div>Already Ordered Cheese (pre-update): {{order.product.current_quantity}}</div>
        <div>Original Cheese Order (pre-update): {{order.originalQuantity}}</div>
        {{order.product.quantity - (order.product.current_quantity - order.originalQuantity)}}
        <div ng-show="order.showEditFormValue">
          <form ng-submit="ordersIndex.update(order)">
            <input
              type="number"
              name="quantity"
              placeholder="Insert order quantity..."
              ng-model="order.quantity"
              max="{{order.product.quantity - (order.product.current_quantity - order.originalQuantity)}}"
              min="1"
              class="u-full-width">
            <button type="submit">Update</button>
            <button type="button" ng-click="ordersIndex.toggleEditForm(order)">Hide</button>
          </form>
      </div>
    </li>
  </ul>
</section>

<!-- HIDDEN/SHOWN SELLER SECTION -->
<section ng-show="main.isSeller">
  <ul ng-repeat="product in ordersIndex.currentUser.products">
    <li class="productCard" ng-click="ordersIndex.showOrders(product)">
      <h3>Product: {{ product.name }}</h3>
      <h5>Number of Orders: {{product.orders.length}}</h5>
      <img ng-src="{{ product.image }}", width="250"/>
      <ul ng-show="product.showOrderList">
        <li ng-repeat="order in product.orders">
          <img ng-src="{{ order.buyer.products[0].image }}", width="250"/>
          <h4>Ordered Quantity: {{ order.quantity }}</h4>
          <h4>Buyer: {{ order.buyer.username }}</h4>
        </li>
      </ul>
    </li>
  </ul>
</section>
