<section>
  <h1>Product</h1>
  <ul>
    <li>
      <img ng-src=" {{ productsShow.product.image }}"/>
      <h2>{{ productsShow.product.name }}</h2>
      <h4>Price: {{ productsShow.product.max_price }}/{{ productsShow.product.unit }}</h4>
    </li>
  </ul>
  <a ng-if="productsShow.isLoggedIn()" ui-sref="productsEdit({ id: productsShow.product.id })" class="button">Edit</a>
  <button ng-if="productsShow.isLoggedIn()" ng-click="productsShow.delete({ id: productsShow.product.id })">Delete</button>
</section>
