<section>

  <h1>Product</h1>
  <ul>
    <li>
      <img ng-src="{{ productsShow.product.image }}", width="650"/>
      <h2>{{ productsShow.product.name }}</h2>
      <h4>Price: {{ productsShow.product.max_price }}/{{ productsShow.product.unit }}</h4>
      <h4>Available Quantity: {{ productsShow.product.quantity }} {{ productsShow.product.unit }}</h4>
      <a ui-sref="usersShow({ id: productsShow.product.seller.id })">
        <h3>{{ productsShow.product.seller.username }}</h3>
      </a>
    </li>
  </ul>

  <!--POST ORDER FOR BUYER-->
  <section ng-show="!productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()">
    <form ng-submit="productsShow.createOrder()">
      <div class="twelve columns">
        <h4 ng-model="productsShow.order.product">Order {{ productsShow.product.name }} </h4>
        <label>Order Quantity</label>
        <input
          type="number"
          name="quantity"
          ng-model="productsShow.order.quantity"
          class="u-full-width">
      <button>Order</button>
    </form>
  </section>

  <!--EDIT OBJECT FOR SELLER-->
  <a ng-show="productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()" ui-sref="productsEdit({ id: productsShow.product.id })" class="button">Edit</a>
  <button ng-show="productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()" ng-click="productsShow.delete({ id: productsShow.product.id })">Delete</button>

</section>
