<section>

  <h1>{{ productsShow.product.name }}</h1>
  <ul>
    <li>
      <img ng-src="{{ productsShow.product.image }}", width="650"/>
      <a ui-sref="usersShow({ id: productsShow.product.seller.id })">
        <h3>Sold by: {{ productsShow.product.seller.username }}</h3>
      </a>
      <section ng-hide="(productsShow.product.quantity - productsShow.product.current_quantity) <= 0">
        <h4>Current Price: {{ productsShow.product.currency }} {{ productsShow.product.max_price }}/{{ productsShow.product.unit }}</h4>
        <h4>Available Quantity: {{ productsShow.product.quantity - productsShow.product.current_quantity }} {{ productsShow.product.unit }}</h4>
      </section>
      <section ng-show="(productsShow.product.quantity - productsShow.product.current_quantity) <= 0">
        <h3>OUT OF STOCK</h3>
      </section>
    </li>
  </ul>

  <!--POST ORDER FOR BUYER-->
  <section ng-hide="(productsShow.product.quantity - productsShow.product.current_quantity) <= 0">
    <section ng-show="!productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()">
      <form ng-submit="productsShow.createOrder()">
        <div class="twelve columns">
          <h4 ng-model="productsShow.order.product">Order {{ productsShow.product.name }} </h4>
          <label>Order Quantity ({{ productsShow.product.unit }})</label>
          <input
            type="number"
            name="quantity"
            ng-model="productsShow.order.quantity"
            class="u-full-width"
            max="{{ productsShow.product.quantity - productsShow.product.current_quantity }}"
            min="1">
            <button type="button" ng-click="productsShow.plusOne()" ng-disabled="productsShow.order.quantity >= (productsShow.product.quantity - productsShow.product.current_quantity)">+1</button>
            <button type="button" ng-disabled="productsShow.order.quantity <= 1" ng-click="productsShow.minusOne()">-1</button>
        <button type="submit">Order</button>
      </form>
    </section>
  </section>

  <!--EDIT OBJECT FOR SELLER-->
  <a ng-show="productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()" ui-sref="productsEdit({ id: productsShow.product.id })" class="button">Edit</a>
  <button ng-show="productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()" ng-click="productsShow.delete({ id: productsShow.product.id })">Delete</button>

</section>
