<!-- <section ng-controller="ProductsIndexController as productsIndex" >
  <h2>{{ usersShow.user.username }}</h2>
  <h4>{{ usersShow.user.email }}</h4>
    <li ng-repeat="product in productsIndex.all" ng-if="usersShow.user.id == product.seller.id">
      <a ui-sref="productsShow({ id: product.id })">
        <img ng-src=" {{ product.image }}" alt="Description", width="250" />
        <h2>{{ product.name }}</h2>
        <h4>Price: {{ product.max_price }}/{{ product.unit }}</h4>
      </a>
    </li>
  <a ng-if="usersShow.isLoggedIn()" ui-sref="usersEdit({ id: usersShow.user.id })" class="button">Edit</a>
  <button ng-if="usersShow.isLoggedIn()" ng-click="usersShow.delete()">Delete</button>
</section> -->

<section ng-controller="ProductsIndexController as productsIndex" >
  <h2>{{ usersShow.user.username }}</h2>
  <h4>{{ usersShow.user.email }}</h4>
  <ul class="row cards">
    <li ng-repeat="product in productsIndex.all" ng-if="usersShow.user.id == product.seller.id" class="four columns cards__single">
      <a ui-sref="productsShow({ id: product.id })">
        <div class="cards__single-image" style="background-image:url('{{ product.image }}')">
          <div class="cards__single-details">
            <h4 class="productName">{{ product.name }}</h4>
            <a ui-sref="usersShow({ id: product.seller.id })">
              <h4 class="sellerName">Sold by: {{ product.seller.username }}</h4>
            </a>
            <h4 class="priceInfo">Current Price: {{ product.currency }}{{ product.final_price | number:2 }}/{{ product.unit }}</h4>
          </div>
        </div>
      </a>
    </li>
  <ul>
  <a ng-if="usersShow.isLoggedIn()" ui-sref="usersEdit({ id: usersShow.user.id })" class="button">Edit</a>
  <button n class="priceInfo"g-if="usersShow.isLoggedIn()" ng-click="usersShow.delete()">Delete</button>
</section>
