<!-- BUYER SECTION -->
<div ng-hide="main.isSeller" class="ordersHead">
  Here are your orders...
</div>
<div ng-show="main.isSeller" class="ordersHead">
  Here are your outstanding orders...
</div>
<section class="row">
  <ul class="orders">
    <li ng-repeat="order in ordersIndex.all">
      <div class="two columns">
        <img ng-src="{{ order.product.image }}"/>
      </div>

      <div class="two columns">
        <p><strong>Product:</strong><br>{{ order.product.name }}</p>
      </div>

      <div class="two columns">
        <p><strong>Seller:</strong><br>{{ order.product.seller.username }}</p>
      </div>

      <div class="two columns">
        <p><strong>Ordered Quantity:</strong><br> {{ order.quantity }}{{ order.product.unit }}</p>
      </div>

      <div class="two columns">
        <p><strong>Current Price:</strong><br> {{ order.product.currency }}{{ order.product.final_price | number:2 }}/{{ order.product.unit }}</p>
      </div>

      <div class="two columns">
        <button ng-click="ordersIndex.toggleEditForm(order)">Edit</button>
        <button ng-click="ordersIndex.delete(order)">Delete</button>
      </div>

      <!-- HIDDEN/SHOWN BUYER EDIT FORM -->
      <div ng-show="order.showEditFormValue" class="twelve columns">
        <h4>Edit your order below...</h4>
        <div ng-show="order.showEditFormValue">
          <form ng-submit="ordersIndex.update(order)">
            <input
              type="number"
              name="quantity"
              placeholder="Insert order quantity..."
              ng-model="order.quantity"
              max="{{order.product.quantity - (order.product.current_quantity - order.originalQuantity)}}"
              min="1"
              class="u-full-width">
            <button type="button" ng-click="ordersIndex.plusOne(order)">+1</button>
            <button type="button" ng-click="ordersIndex.minusOne(order)" ng-disabled="order.quantity<=1">-1</button>
            <button type="submit">Update</button>
            <button type="button" ng-click="ordersIndex.toggleEditForm(order)">Hide</button>
          </form>
      </div>
    </li>
  </ul>
</section>

<!-- HIDDEN/SHOWN SELLER SECTION -->
<section ng-show="main.isSeller">
  <ul ng-repeat="product in ordersIndex.currentUser.products">
    <li ng-hide="product.orders.length < 1"class="productCard" ng-click="ordersIndex.showOrders(product)">
    <div class="four columns">
      <img ng-src="{{ product.image }}"/>
    </div>

    <div class="four columns">
      <p><strong>Product:</strong><br>{{ product.name }}</p>
    </div>

    <div class="four columns">
      <p><strong>Number of Orders:</strong><br>{{ product.orders.length }}</p>
    </div>
  
      <ul ng-show="product.showOrderList">
        <li ng-repeat="order in product.orders">
          <img ng-src="{{ order.buyer.products[0].image }}", width="250"/>
          <h4>Ordered Quantity: {{ order.quantity }}</h4>
          <h4>Buyer: {{ order.buyer.username }}</h4>
        </li>
      </ul>
    </li>
  </ul>
</section>
