<!-- BUYER SECTION -->
<div ng-show="main.isSeller" class="ordersHead">
  Here are your outstanding orders, better start getting ready...
</div>
<div ng-show="!main.isSeller" class="ordersHead">
  Here are your orders, this looks soo good 👌
</div>
<section class="row">
  <ul class="orders">
    <li ng-repeat="order in ordersIndex.all">
      <div class="two columns">
        <img ng-src="{{ order.product.image1 }}"/>
      </div>

      <div class="two columns">
        <p><strong>Product:</strong><br>{{ order.product.name }}</p>
      </div>

      <div class="two columns">
        <p><strong>Seller:</strong><br>{{ order.product.seller.username }}</p>
      </div>

      <div class="two columns">
        <p><strong>Ordered Quantity:</strong><br> {{ order.quantity }}{{ order.product.unit }}</p>
      </div>

      <div class="two columns">
        <p><strong>Current Price:</strong><br> {{ order.product.currency }}{{ order.product.final_price | number:2 }}/{{ order.product.unit }}</p>
      </div>

      <div class="two columns">
        <button ng-click="ordersIndex.toggleEditForm(order)">Edit</button>
        <button ng-click="ordersIndex.delete(order)">Delete</button>
      </div>

      <!-- HIDDEN/SHOWN BUYER EDIT FORM -->
      <div ng-show="order.showEditFormValue">
        <h4 class="12 columns">Edit your order below...</h4>
        <div ng-show="order.showEditFormValue">
          <form ng-submit="ordersIndex.update(order)">
            <div class="row">
            <input
              type="number"
              name="quantity"
              placeholder="Insert order quantity..."
              ng-model="order.quantity"
              max="{{order.product.quantity - (order.product.current_quantity - order.originalQuantity)}}"
              min="1"
              class="two columns">
            <button class="two columns" type="button" ng-click="ordersIndex.plusOne(order)">+1</button>
            <button class="two columns" type="button" ng-click="ordersIndex.minusOne(order)" ng-disabled="order.quantity<=1">-1</button>
            <button class="two columns" type="submit">Update</button>
            <button class="two columns" type="button" ng-click="ordersIndex.toggleEditForm(order)">Hide</button>
            </div>
          </form>
      </div>
    </li>
  </ul>
</section>

<!-- HIDDEN/SHOWN SELLER SECTION -->
<section ng-show="main.isSeller">
  <ul ng-repeat="product in ordersIndex.currentUser.products">
    <li ng-hide="product.orders.length < 1" class="main-order-list" ng-click="ordersIndex.showOrders(product)">
      <div class="row">
        <div class="two columns">
          <img ng-src="{{ product.image1 }}"/>
        </div>

        <div class="five columns">
          <p><strong>Product:</strong><br>{{ product.name }}</p>
        </div>

        <div class="five columns">
          <p><strong>Number of Orders:</strong><br>{{ product.orders.length }}</p>
        </div>
      </div>

      <ul ng-show="product.showOrderList" class="order-list">
        <li ng-repeat="order in product.orders" class="row">
          <div class="three columns">
            <p><strong>Ordered Quantity:</strong> {{ order.quantity }}</p>
          </div>
          <div class="three columns">
            <p><strong>Buyer:</strong> {{ order.buyer.username }}</p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
