<section ng-controller="UsersShowController as usersShow" >
  <h1>Product</h1>
  <ul>
    <li>
      <img ng-src="{{ productsShow.product.image }}", width="650"/>
      <h2>{{ productsShow.product.name }}</h2>
      <h4>Price: {{ productsShow.product.max_price }}/{{ productsShow.product.unit }}</h4>
      <h4>Available Quantity: {{ productsShow.product.quantity }} {{ productsShow.product.unit }}</h4>
      <a ui-sref="usersShow({ id: productsShow.product.seller.id })">
        <h3>{{ productsShow.product.seller.username }}</h3>
      </a>
    </li>
  </ul>

  <!--POST ORDER-->
  <section ng-controller="OrdersNewController as ordersNew" >
    <div class="twelve columns">
      <h4 ng-model="ordersNew.order.product">Order {{ productsShow.product.name }} </h4>
      <label>Order Quantity</label>
      <input type="text" name="name" placeholder="Insert order quantity..." ng-model="ordersNew.order.quantity" class="u-full-width">
      <!-- <input type="hidden" name="product_id" ng-model="productsShow.product.id"> -->
    <button ng-show="!productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()" ng-click="ordersNew.create()">Order</button>
  </section>

  <a ng-show="productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()" ui-sref="productsEdit({ id: productsShow.product.id })" class="button">Edit</a>
  <button ng-show="productsShow.isOwnProduct" ng-if="productsShow.isLoggedIn()" ng-click="productsShow.delete({ id: productsShow.product.id })">Delete</button>

</section>
