<section class="row">
  <form ng-submit="usersEdit.update()">
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" name="title" value="usersEdit.user.username" ng-model="usersEdit.user.username" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Email</label>
      <input type="text" name="director" value="usersEdit.user.email" ng-model="usersEdit.user.email" class="u-full-width">
    </div>
    <!-- <div class="twelve columns">
      <label>Password</label>
      <input type="text" name="releaseDate" value="usersEdit.user.password" ng-model="usersEdit.user.password" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Password Confirmation</label>
      <input type="text" name="posterImage" value="usersEdit.user.password_confirmation" ng-model="usersEdit.user.password_confirmation" class="u-full-width">
    </div> -->
    <button>Update</button>
  </form>
</section>
