@import 'partials/products';
@import 'partials/header';
@import'base/base';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker|Source+Sans+Pro');

$font-size: Helvetica, sans-serif;
$primary-color: black;
$text-align: center;
$font-family: 'Permanent Marker', cursive;

body {
  background-color: #f9f9f9;
  font-size: 18px;
  .container {
    max-width: 1200px;
    width: 90%;
    img {
      max-width: 100%;
    }
  }
}
